<!-- Trabalho Desenvolvido na Data Science Academy - www.datascienceacademy.com.br -->
# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Fundamentos de Linguagem Python - Do Básico a Aplicações de IA</font>
# <font color='blue'>Lista 1 de Exercícios</font>

#### Exercício 1

Escreva um programa que peça ao usuário para digitar seu nome e, em seguida, imprima uma mensagem de boas-vindas com o nome fornecido.

In [ ]:
# Solução

#### Exercício 2

Crie duas variáveis, numero1 e numero2, e atribua a elas valores inteiros. Calcule a soma, subtração, multiplicação e divisão dessas variáveis e imprima os resultados.

In [ ]:
# Solução

#### Exercício 3 

Qual é a principal diferença entre uma variável de escopo local e uma de escopo global?

In [ ]:
# Solução

#### Exercício 4

Crie uma variável chamada saldo com o valor 500.50 (float). Em seguida, crie uma variável saque com o valor 200.25 (float). Subtraia o saque do saldo e imprima o saldo final formatado para duas casas decimais.

In [ ]:
# Solução

#### Exercício 5

Declare uma variável booleana chamada **tem_carteira_de_motorista** e atribua a ela o valor True. Imprima uma mensagem que diga "Pode dirigir" se a variável for verdadeira e "Não pode dirigir" caso contrário.

In [ ]:
# Solução

#### Exercício 6

Crie duas variáveis: 

- idade_ana = 25
- idade_beto = 30

Use operadores de comparação para verificar se a idade de Ana é menor que a de Beto e imprima o resultado booleano.

In [ ]:
# Solução

#### Exercício 7

Receba um número inteiro do usuário e use o operador de módulo (%) para verificar se o número é par ou ímpar. Imprima o resultado.

Obs: Não estudamos ainda os condicionais, mas pesquise se necessário e tente resolver.

In [ ]:
# Solução

#### Exercício 8

Crie duas variáveis booleanas: 

- chovendo = True
- guarda_chuva = False

Use operadores lógicos para verificar se uma pessoa vai se molhar (se está chovendo E ela não tem guarda-chuva).

In [ ]:
# Solução

#### Exercício 9

Calcule a potência de 2 elevado a 10 e imprima o resultado.

In [ ]:
# Solução

#### Exercício 10

Converta a string "2026" para um tipo inteiro e armazene-a em uma variável chamada ano. Em seguida, some 1 a essa variável e imprima o novo ano.

In [ ]:
# Solução

#### Exercício 11

Crie a string:

frase = "   Python é uma linguagem poderosa e estou aprendendo com a DSA   ". 

Remova os espaços em branco do início e do fim da string e imprima a nova string.

In [ ]:
# Solução

#### Exercício 12

Na string do exercício anterior (já sem os espaços), converta toda a frase para letras maiúsculas.

In [ ]:
# Solução

#### Exercício 13

Ainda usando a mesma string, substitua a palavra "poderosa" por "incrível".

In [ ]:
# Solução

#### Exercício 14

Verifique e imprima o número total de caracteres na string frase (após as modificações dos exercícios anteriores).

In [ ]:
# Solução

#### Exercício 15

Use fatiamento (slicing) para extrair e imprimir apenas a palavra "Python" da string frase.

In [ ]:
# Solução

#### Exercício 16

Crie uma lista chamada compras com os seguintes itens: "arroz", "feijão", "macarrão", "carne". Imprima a lista.

In [ ]:
# Solução

#### Exercício 17

Adicione o item "leite" ao final da lista compras e imprima a lista atualizada.

In [ ]:
# Solução

#### Exercício 18

Acesse e imprima o segundo item da lista compras.

In [ ]:
# Solução

#### Exercício 19

Remova o item "macarrão" da lista compras e imprima a lista final.

In [ ]:
# Solução

#### Exercício 20

Crie uma lista de números de 1 a 5. Use uma função para calcular e imprimir o tamanho (número de elementos) dessa lista.

In [ ]:
# Solução

#### Exercício 21

Crie uma tupla chamada meses com os três primeiros meses do ano: "Janeiro", "Fevereiro", "Março".

In [ ]:
# Solução

#### Exercício 22

Tente adicionar o mês "Abril" à tupla meses. O que acontece? Explique o resultado.

In [ ]:
# Solução

#### Exercício 23

Acesse e imprima o primeiro mês da tupla meses.

In [ ]:
# Solução

#### Exercício 24

Crie um dicionário chamado filme com as seguintes chaves e valores: 

- titulo = "O Poderoso Chefão",
- ano = 1972
- diretor = "Francis Ford Coppola"

In [ ]:
# Solução

#### Exercício 25

Acesse e imprima o ano de lançamento do filme a partir do dicionário.

In [ ]:
# Solução

#### Exercício 26

Adicione uma nova chave genero com o valor "Drama" ao dicionário filme e imprima o dicionário completo.

In [ ]:
# Solução

#### Exercício 27

Modifique o valor da chave ano para 1973 e imprima o dicionário atualizado.

In [ ]:
# Solução

#### Exercício 28

Crie uma lista com os seguintes números: [1, 2, 2, 3, 4, 4, 5, 1]. Use um conjunto para remover os números duplicados e imprima o resultado.

In [ ]:
# Solução

#### Exercício 29

Crie dois conjuntos: 

- set_a = {1, 2, 3, 4}
- set_b = {3, 4, 5, 6}

Encontre e imprima a interseção entre os dois conjuntos (os elementos que estão em ambos).

In [ ]:
# Solução

#### Exercício 30

Escreva um programa que peça ao usuário para digitar sua altura em metros (ex: 1.75) e seu peso em quilogramas (ex: 68.5). Calcule o Índice de Massa Corporal (IMC) usando a fórmula IMC = peso / (altura * altura) e imprima o resultado formatado com duas casas decimais.

In [ ]:
# Solução

# Fim